.rounded-badge {
    border-radius: 50%;
    float: right;
    position: relative;
    background-color: red;
    margin: 0 -.8em;
    color: aliceblue;
    padding: 7px;


    display: inline-flex; 
    line-height: 0;
    justify-content: center;
    align-items: center;  
}
.rounded-badge::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.mar {
    margin-right: 20px;
}

h3 {
    padding-top: 2px;
    color: white;
}